.App {
  color: white;
  height: 100%;
}

.bottom-dot:before {
  content: "\025cb";
}

.selected > .bottom-dot:before {
  content: "\025cf";
}

.boxshadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.btn {
  height: 100%;
  width: 50%;
  border-radius: 20px;
  border: 0;
  background-color: transparent;
  margin: 10px;
  font-size: 1.2em;
}

.minus,
.plus {
  border: 1px solid;
}

.minus {
  color: rgba(221, 30, 30, 0.8);
  border-color: rgba(221, 30, 30, 0.8);
}

.minus:hover {
  color: white;
  background-color: rgba(221, 30, 30, 0.8);
}

.plus {
  color: rgba(49, 165, 34, 0.8);
  border-color: rgba(49, 165, 34, 0.8);
}

.plus:hover {
  color: white;
  background-color: rgba(49, 165, 34, 0.8);
}

.spacer {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  height: 1px;
}

.moneyStatus {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shadow {
  -moz-box-shadow: inset 0 0 2px #000000;
  -webkit-box-shadow: inset 0 0 2px #000000;
  box-shadow: inset 0 0 2px #000000;
}
