.shadow {
  -moz-box-shadow: inset 0 0 2px #000000;
  -webkit-box-shadow: inset 0 0 2px #000000;
  box-shadow: inset 0 0 2px #000000;
}

.spacer {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  height: 1px;
}

.btn {
  height: 100%;
  width: 50%;
  border-radius: 20px;
  border: 0;
  background-color: transparent;
  margin: 10px;
  font-size: 1.2em;
  outline: 0;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover {
    cursor: pointer;
  }
}

.minus,
.plus {
  border: 1px solid;
}

.minus {
  color: rgba(221, 30, 30, 0.8);
  border-color: rgba(221, 30, 30, 0.8);
}

.minus:hover {
  color: white;
  background-color: rgba(221, 30, 30, 0.8);
}

.plus {
  color: rgba(49, 165, 34, 0.8);
  border-color: rgba(49, 165, 34, 0.8);
}

.plus:hover {
  color: white;
  background-color: rgba(49, 165, 34, 0.8);
}

.transaction-wrapper-home {
  height: calc(100% - 90px - 70px - 60px);
}

.transaction-wrapper-history {
  height: calc(100% - 60px);
}
