.content {
  width: 90%;
  /* Firefox */
  height: -moz-calc(100% - 160px);
  /* WebKit */
  height: -webkit-calc(100% - 160px);
  /* Opera */
  height: -o-calc(100% - 160px);
  /* Standard */
  height: calc(100% - 160px);
  background-color: white;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  padding: 3%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
