.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  height: 100%;
  text-decoration: none;
  color: white;
  &:active,
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.selected > .bottom-dot:before {
  content: "\025cf";
}

.bottomDot:before {
  content: "\025cb";
}

.linkText {
}
