.transaction-view {
  width: 100%;
  /* Firefox */
  height: -moz-calc(100% - 230px);
  /* WebKit */
  height: -webkit-calc(100% - 230px);
  /* Opera */
  height: -o-calc(100% - 230px);
  /* Standard */
  height: calc(100% - 230px);
  /*border: 1px solid rgba(0, 0, 0, 0.065);*/
  border-radius: 20px;
  overflow-y: scroll;
}
