<!DOCTYPE html>
<html class="bg2">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Quicksand" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="reset.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
</head>

<body>
    <div id="app">
        <div class="nav">
            <a class="nav-link" href="index.html">
                <span class="link-text">Home</span>
                <span class="bottom-dot">&#9679;</span>
            </a>
            <a class="nav-link" href="history.html">
                <span class="link-text">History</span>
                <span class="bottom-dot">&#9676;</span>
            </a>
            <a class="nav-link" href="profile.html">
                <span class="link-text">Profile</span>
                <span class="bottom-dot">&#9676;</span>
            </a>
        </div>
        <div class="content boxshadow">
            <div class="status">
                <div class="money">- 500,95 &euro;</div>
            </div>
            <div class="btn-row">
                <button class="btn plus">&plus; Income</button>
                <button class="btn minus">&minus; Expense</button>
            </div>
            <div class="title">Recent activity</div>
            <div class="transactions">
                <div class="transaction">
                    <span class="value negative">100,00&euro;</span>
                    <span class="date">25.9.2017 18:02</span>
                </div>
                <div class="transaction">
                    <span class="value negative">9,95&euro;</span>
                    <span class="date">23.9.2017 12:55</span>
                </div>
                <div class="transaction">
                    <span class="value positive">20,00&euro;</span>
                    <span class="date">23.9.2017 11:42</span>
                </div>
                <div class="transaction">
                    <span class="value negative">200,00&euro;</span>
                    <span class="date">22.9.2017 23:02</span>
                </div>
                <div class="transaction">
                    <span class="value negative">100,00&euro;</span>
                    <span class="date">22.9.2017 22:58</span>
                </div>
                <div class="transaction">
                    <span class="value negative">100,00&euro;</span>
                    <span class="date">22.9.2017 21:04</span>
                </div>
                <div class="transaction">
                    <span class="value negative">100,00&euro;</span>
                    <span class="date">18.9.2017 09:44</span>
                </div>
                <div class="transaction">
                    <span class="value negative">100,00&euro;</span>
                    <span class="date">18.9.2017 09:39</span>
                </div>
                <div class="transaction">
                    <span class="value negative">100,00&euro;</span>
                    <span class="date">10.9.2017 09:32</span>
                </div>
                <div class="transaction">
                    <span class="value negative">100,00&euro;</span>
                    <span class="date">8.9.2017 17:55</span>
                </div>
            </div>
        </div>
        <div class="footer">
            Copyright &copy; 2018 alehuo
        </div>
    </div>
</body>

</html>